:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --text-color-blue: #2196f3;
  --text-color-button: #ffffff;
  --button-color: #f5f4fa;
}

.list {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--text-color-button);
  color: var(--title-text-color);
}

/* логтип */

.logotype {
  color: var(--text-color-blue);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logotype-secondary {
  color: var(--title-text-color);
}

/* ссылки шапки */

.link-header:hover,
.link-header:focus {
  color: var(--text-color-blue);
}

.link-header {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-header.active {
  color: var(--text-color-blue);
}

/* контакты шапки */

.contacts-header {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.contacts-header.accent:hover {
  color: var(--text-color-blue);
}

.contacts-header.accent:focus {
  color: var(--text-color-blue);
}

/* main */

.section-desissions {
  background-color: #2f303a;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-button);
}

.title-button {
  width: 200px;
  height: 50px;
  background-color: var(--text-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color-button);
}

.title-button:hover,
.title-button:focus {
  color: var(--title-text-color);
  cursor: pointer;
}

.differences {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.differences-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.team-interests {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* кнопки */

.nav-button {
  background-color: var(--button-color);
  color: var(--title-text-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
}

.nav-button:hover {
  background-color: var(--text-color-blue);
  color: var(--text-color-button);
}

.nav-button:focus {
  background-color: var(--text-color-blue);
  color: var(--text-color-button);
}

.section-team {
  background-color: var(--button-color);
}

.team-photo {
  background: var(--text-color-button);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: none;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-job {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* картинки */

.image {
  box-sizing: border-box;
  background: var(--text-color-button);
  border: 1px solid #eeeeee;
}

.image .image-header {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.image .image-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* footer */

.footer {
  background-color: #2f303a;
}

.logotype-secondary.footer {
  color: var(--text-color-button);
}

.contacts-footer.address {
  color: var(--text-color-button);
}

.contacts-footer.accent {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer.accent:hover,
.contacts-footer.accent:focus {
  color: var(--text-color-blue);
}

.contacts-footer {
  text-decoration: none;
}

.footer-address {
  font-family: inherit;
  font-style: normal;
}
